*{
    margin: 0;
    padding: 0;
}
body {
    background-image: url(img/1752824699534-photo-49.webp);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    font-size: 14px;
    font-family: 'poppins', sans-serif;
}
.container {
    width: 80%;
    margin: 25px auto;
    border-style: solid;
    border-color: #0a7ed1;
    background: #fff;
    border-radius: 5px;
    text-align:center;
    box-shadow: 0 0px 50px #0a7ed1;
}
.contact-box{
    background: #fff;
    display: flex;
    border-radius: 15px;
    border-style: solid;
    border-color: #0a7ed1;
    box-shadow: 0 0px 50px #0a7ed1;

}
.container-box{
     width: 80%;
    margin: 50px auto;
    
}
.contact_left{
    flex-basis: 60%;
    padding: 40px 60px;
}
.contact_right{
    flex-basis: 40%;
    padding: 40px;
    background: #10b7ea;
    color: #030000;
    border-radius: 10px;
   
}
h1{
    margin-bottom: 10px;
}
.container p{
    margin-bottom: 40px;
    
}
.input-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

}
.input-row .input-group{
    flex-basis: 45%;
}
input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding-bottom: 5px;

}
textarea{
    width: 100%;
    border: 1px solid #ccc;
    outline: 10px;
    padding: 10px;
    box-sizing: border-box;

}
label{
    margin-bottom: 6px;
    display: block;
    color: #1c00b5;

}
button{
    background: #0a7ed1;
    width: 100px;
    border: none;
    outline: none;
    color: #fff;
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;
    transform: transform 0.2S ease;
    box-shadow: 0px 5px 15px 0px rgb(28,0,181,0.3);
}
.button:active {
    transform: scale(0.96);
    
}
button:hover {
    transform: translateY(-3px) scale(1.05);
}
.contact_left h3{
    color: #0a7ed1;
    font-weight: 600;
    margin-bottom: 30px;
    display: inline-block;
    border-bottom: 2px solid rgb(4, 4, 149);
    padding-bottom: 5px;
}
.contact_right h3{
    font-weight: 600;
    margin-bottom: 30px;
    display: inline-block;
    border-bottom: 2px solid rgb(4, 4, 149);
    padding-bottom: 5px;
}

tr td:first-child{
    padding-right: 20px;
}
tr td{
    padding-top: 20px;
}

@media only screen and (max-width: 800px) {
  .container {
    width: 90%;
  }

  .contact-box {
    flex-direction: column;
  }

  .contact-left, 
  .contact-right {
    width: 100%;
  }
}


@media (max-width: 992px) {
  .hero-contenu,
  .apropos-contenu,
  .cartes,
  .valeurs {
    flex-direction: column;
    gap: 24px;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
.container {
    background-color: lightgreen;
  }
}